<!-- <div class="container">

<h1>確認画面</h1>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit "投稿する" %>
<% end %>

<%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p>コメント:<%= @feed.content %></p>
  <%= form.submit "戻る", name: "back" %>
<% end %>

</div> -->
<header>
  <table>
    <tr>
      <td><%= image_tag "facebook.png", class: 'fakebook-logo' %></td>
      <td>
        <div class="fake-search-box">
          <div class="search-sujest">検索</div>
          <div class="search-content"></div>
          <div class="search-img"><%= image_tag "Search.png", class: 'search-png' %></div>
        </div>
      </td>
      <td><%= image_tag "acount-pic.png", size: '25x25', class: 'header-acount-pic' %></td>
      <td>
        <div class="header-menu">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>
          <span>
          <% if logged_in? %>
            <%= link_to "#{current_user.name}", user_path(current_user.id) %>
          </span>
          <span class="blue-line"> | </span>
          <span>
            <%= link_to "ホーム", feeds_path %>
          </span>
          <span class="blue-line"> | </span>
          <span>友達を検索</span>
          <span class="blue-line"> | </span>
          <span>作成</span>
          <span class="blue-line"> | </span>
          <span>うに</span>
          <span class="blue-line"> | </span>
          <span>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
          <% else %>
            <%= link_to "登録", new_user_path %>
            <%= link_to "ログイン", new_session_path %>
          <% end %>
          </span>
        </div>
      </td>
    </tr>
  </table>
</header>

<main>
<div class="general-box">
  <h3>以下の内容で投稿しますか？</h3>
  <%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <p><%= @feed.content %></p>
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
    <%= form.hidden_field :image_cache %>
    <br>
    <br>
    <p><%= form.submit "はい" %><p/>
  <% end %>
  <%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
    <%= form.hidden_field :image_cache %>
    <p><%= form.submit "いいえ", name: "back" %><p/>
  <% end %>
</div>
</main>
