<div class="container">

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody class="row">
    <% @feeds.each do |feed| %>
      <tr>
        <td class="col-md-6"><%= image_tag feed.image.url, :size =>'100x100' %></td>
        <td class="col-md-6"><%= feed.content %></td>
        <td class="col-md-6"><%= link_to 'Show', feed %></td>
        <td class="col-md-6"><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td class="col-md-6"><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>

</div>
