<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @feed.image.url %>
</p>
<h4>COMMENT</h4>
<p><%= @feed.content %></p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
