<div class="text-center">
  <div class="feed_show container">

    <h3><%= @feed.user.name %>さんの投稿</h3>
    <p class="col-12">
      <%= image_tag @feed.image.url ,class: "img-fluid" %>
    </p>

    <p>
      <strong>投稿日時：</strong>
      <%= @feed.created_at.try(:strftime,"%Y年%m月%d日") %>
    </p>

    <p>
      <%= @feed.content %>
    </p>

    <% if current_user.present? %>
      <% if @feed.user_id == current_user.id %>
        <p><%= link_to '編集', edit_feed_path(@feed),class: "btn btn-outline-danger" %></p>
        <p><%= link_to '削除',feed_path(@feed.id), method: :delete ,class: "btn btn-outline-danger",data: { confirm: '投稿を削除しますか？' } %></p>
      <% end %>
    <% end %>
    <p><%= link_to '戻る', feeds_path ,class: "btn btn-outline-secondary" %></p>
  </div>
</div>
